.btn-add {
    position: relative;
    border-radius: 6px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: var(--body-font);
    color: hsl(var(--white)) !important;
    z-index: 1;
    line-height: 1;
    padding: 10px 13px;
    font-size: 15px;
    text-transform: capitalize;
}

.border-1 {
    border: 1px solid #E0E0E0;
}

.sidebar-menu-wrapper {
    max-height: calc(100vh - 100px) !important;
}

.b-title {
    border-bottom: 1px solid #f1f1f1 !important;
    padding-bottom: 10px !important;
}

div#message-modal {
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f9f9f9;
}