:root {
    --primary-color: #0D3D91;
}
.btn-add {
    position: relative;
    border-radius: 6px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: var(--body-font);
    color: hsl(var(--white)) !important;
    z-index: 1;
    line-height: 1;
    padding: 10px 13px;
    font-size: 15px;
    text-transform: capitalize;
}
.form-group.row {
    margin-bottom: 1rem;
}

.form-control {
    line-height: 1.3;
}

.btn-primary {
    background-color: #1e3a8a;
}

.border-1 {
    border: 1px solid #E0E0E0;
}

.sidebar-menu-wrapper {
    max-height: calc(100vh - 100px) !important;
}

.b-title {
    border-bottom: 1px solid #f1f1f1 !important;
    padding-bottom: 10px !important;
}

div#message-modal {
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #f9f9f9;
}

input#searchInput {
    height: 40px;
}

.sidebar-submenu__link {
    font-size: 15px;
}

td.dt-empty {
    color: #333333;
}

.dt-container .dt-length label[for="dt-length-0"] {
    padding-left: 10px;
}

div.dt-container div.dt-layout-row:last-child {
    margin-top: 20px;
}

input.form-control {
    max-height: 40px;
}

input[type=file].form-control {
    position: relative;
    padding: 9px;
}

.dt-search, div.dt-container div.dt-layout-cell.dt-start {
    display: none;
}

.select2 span.selection {
    width: 100%;
}

span#select2-kategori-container {
        height: 40px;
    padding-top: 5px;
    padding-left: 13px;
    border-color: #D5DBE7;
    font-size: 14px;
}

.select2-container--default .select2-selection--single {
    border-color: #D5DBE7;
    border-radius: 8px;
}

.select2-selection__clear span {
    display: none;
}

span.select2-selection {
    height: 40px !important;
}

.select2-container {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 12px;
}

span[class^="select2-"] {
    color: #OC1018 !important;
}

span[id^="select2-"] {
    padding-top: 5px;
    padding-left: 16px !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f5f5f5 !important;
    color: #555;
}

button.dt-paging-button {
    white-space: nowrap;
}